<div ui-view="recentGames"> </div>
<link href="./dashboard/dashboard.css" rel="stylesheet">
<div ng-controller='DashboardController'>
	<div class='top dash-container'>

	  <h1> Welcome to your Dashboard! </h1>
		<div class='dash-container'>
			<h2> FRIENDS </h2>
			<div class='friends' ng-repeat='profile in friends'>

				<div class='friend-profile'>
				  <h5>{{profile.username}} </h5>
				  <img ng-src='{{profile.avatar}}'> </img>
			  </div>
			</div>
		</div>
		<div class='dash-container'>
			<h2> GAMES </h2>
			<div class='games' ng-repeat='game in games'>
				<h5>{{game.name}}</h5>
				<img ng-src='{{game.image}}'></img>
			</div>
		</div>

	</div>
</div>
