body {
	background-color: #333;
}
.dash-container {
	background-color: #ccc;
  padding: 20px;
	/*border: 2px solid;*/
	border-radius: 5px;
  clear: both;
}

.online-friends {
}

.friend-profile {
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  text-align: center;

  margin: 5px;
  float: left;
}

.top {
	width: 80%;
	margin: 0 auto;
}

