<link href="./profile/profile.css" rel="stylesheet">
<div ng-controller='ProfileController'>
	<div class='container'>
		<div class='outer-container'>
			<img ng-src='{{avatar}}'> </img>
		  <h2> {{username}} </h2>
			<div class='tags'>
				<div class='nav-tag'> 
			 	  <a href='#/profile'><h2> Friends </h2></a>
			  </div>
			  <div class='nav-tag selected-tag'>
				  <h2> Games </h2>
			  </div>
			</div>
<!-- 			<div class='games-list' ng-repeat='game in userGames'>
				<div class='game-div'>
					<img class='game-img' ng-src='{{game.image}}'> </img>
					<div class='game-info'>
						<div class=''>
							<h6 class='game-name'>{{game.name}}</h6>
					  </div>
			    </div>
			  </div>
			</div> -->
			<div class='games-container'>
				<div class='games-list' ng-repeat='game in userGames'>
					<div class='game-profile'>
					  <h5 class='game-name'>{{game.name}} </h5>
					  <img class='game-img' ng-src='{{game.image}}'> </img>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
