body {
	background-color: #333;
}

.nest {
  background-color: #ccc;
  margin: 10px;
  padding: 20px;
  /*border: 2px solid;*/
  border-radius: 5px;
}

.outer-container {
  width: 60%;
  margin: auto;
}

.friends-container {
  display: flex;
}

.friend-profile {
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 5px;
  float: left;
}


.tags {
  display: flex;
}

.nav-tag {
  margin: 10px;
}