body {
	background-color: #333;
}

.selected-tag {
  background-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.outer-container {
  background-color: #ccc;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  margin: auto;
}

.friends-container {
  background-color: #eee;
  display: flex;
  /*border: 1px solid;*/
  border-radius: 5px;
  border-top-left-radius: 0px;
}

.friend-profile {
  padding: 5px;
  /*border: 1px solid;*/
  border-radius: 5px;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 5px;
  float: left;
}

a {
  padding-right: 0;
  padding-left: 0;
  font-size: 14px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}

.tags {
  display: flex;
  padding-bottom: -10px;
}

.nav-tag {
  margin-top: 10px;
  margin-right: 10px;
}
.nav-tag h2{
  margin: 0px;
  padding: 5px;
}

.games-list {
  display: flex;
}

.game-profile {
  float: left;
  /*width: 32%;*/
}

.game-name {
  height: 20px;
}

.game-img {
  height: 90%;
  width: 90%;
}