<link href="./updateProfile/updateProfile.css" rel="stylesheet">
<div ng-controller='UpdateProfileController'>
	<div class='container'>
	</div>
	<div>
		<div class='form-container'>
		  <h2> Update Profile </h2>

			<form>
				<img class='profile' ng-src='{{avatar}}'> </img>
			  <div class="form-group">
			    <label for="username">Username</label>
			    <input ng-model='username' type="text" class="form-control" id="username" placeholder="Username">
			  </div>
		      <div class="form-group">
			    <label for="Given Name">Given Name</label>
			    <input ng-model='givenName' type="text" class="form-control" id="givenName" placeholder="Given Name">
			  </div>
			  <div class="form-group">
			    <label for="description">Email</label>
			    <input ng-model="email" type="email" class="form-control" id="email" placeholder="Email">
			  </div>
			  <div class="form-group">
			    <div><strong>Write a Short Bio:</strong></div>
			    <textarea ng-model="bio" name="bio" id="bio" wrap="soft"></textarea>
			  </div>
			  <div class="form-group">
			    <label for="steamID">Steam ID64 (Find your SteamID64 using <a href="https://steamid.io/" target="_blank">this</a>)</label>
			    <input ng-model='steamID' type="text" class="form-control" id="steamID" placeholder="Steam ID64">
			  </div>
			  <button ng-click="steamFetchProfile(steamID)" class="btn btn-default">Fetch Profile</button>
			  <br>
			  <br>
			  <div>
				  <img class='steam-avatar' ng-src='{{steamAvatar}}'> </img>
				  <div class='steam-username'>
					  <h3>{{steamUsername}}</h3>
					  <h5>{{steamOnline}}</h5>
				  </div>
			  </div>
				<h4> Friends List </h4>
				<div class='profile-container' ng-repeat='friend in friendsProfiles'>
					<div class='friend-profiles'>
						<img class='friend-avatar' ng-src='{{friend.avatar}}'> </img>
						<div class='friend-state'>
							<h6>{{friend.personaname}}</h6>
							<h6>{{stateConversion[friend.personastate]}}</h6>
				    </div>
				  </div>
				</div>
				<div class='games-list' ng-repeat='game in topTen'>
					<div class='game-div'>
						<img class='game-img' ng-src='{{game.header_image}}'> </img>
						<div class='game-info'>
							<div class=''>
								<h6 class='game-name'>{{game.name}}</h6>
								<h6>{{}}</h6>
						  </div>
				    </div>
				  </div>
				</div>

				<button ng-click="saveGameData()"> Save Game Data! </button>	
				<br>

			  <button ng-click="updateProfile()" type="submit" class="btn btn-default">Save</button>
			</form>
		</div>
	</div>
</div>
