<link href="./updateProfile/updateProfile.css" rel="stylesheet">
<div ng-controller='UpdateProfileController'>
	<div class='container'>
	</div>
	<div>
		<div class='form-container'>
		  <h2> Update Profile </h2>

			<form>
				<img class='profile' ng-src='{{avatar}}'> </img>
			  <div class="form-group">
			    <label for="username">Username</label>
			    <input ng-model='username' type="text" class="form-control" id="username" placeholder="Username">
			  </div>
		      <div class="form-group">
			    <label for="Given Name">Given Name</label>
			    <input ng-model='givenName' type="text" class="form-control" id="givenName" placeholder="Given Name">
			  </div>
			  <div class="form-group">
			    <label for="description">Email</label>
			    <input ng-model="email" type="email" class="form-control" id="email" placeholder="Email">
			  </div>
			  <div class="form-group">
			    <label for="steamID">Steam ID64 (Find your SteamID64 using <a href="https://steamid.io/" target="_blank">this</a>)</label>
			    <input ng-model='steamID' type="text" class="form-control" id="steamID" placeholder="Steam ID64">
			  </div>
			  <button ng-click="steamFetchProfile(steamID)" class="btn btn-default">Fetch Profile</button>
			  <br>
			  <br>
			  {{confirmation}}
			  <br>
			  <img class='steam-avatar' ng-src='{{steamAvatar}}'> </img>
			  <h3>{{steamUsername}}</h3>


				<!-- FOR TESTING PURPOSES ONLY -->

				
				<button ng-click="steamFetchFriends(steamID)" class="btn btn-default">Fetch Friends List!~</button>
				<pre> {{friendsList | json}} </pre>


				<!-- END TESTING STUFF -->

			  <button ng-click="updateProfile()" type="submit" class="btn btn-default">Save</button>
			</form>
			<button ng-click="getUserInfo()"> </button>
		</div>
	</div>
</div>
