.friends-panel {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 600px;
  height: 100vh;
  background-image: url('bg-small.jpg');
  color: white;
  position: fixed;
}

.friends-tile {
  overflow: auto;
  border: none;
}

.friends-tile img {
  width: 60px;
  height: 60px;
}